.one{
 
  background-color:darkgray;
  height: 670px;
 

  
  
}
.one p{
  margin:15%;
  
}
.two{
  height:300px;
  width:100%;
  border:2px solid darkgray;
  margin-top: 1%;
  padding-left: 10%;
 margin-left: 1%;
  
}

.letter{
  margin-top: 20px;
  
}


.three{
  border:2px solid black;
  height:300px;
  
  border:2px solid darkgray;
  margin-top: 1px;

  
}




.two p{
  display:flex;
  border:1px solid black;
  background-color:darkgray;
}

.four{
  height: 30px;
  width: 100px;
  background-color:darkgray;
}
.five {
  margin-top: 50px;
}
.six{
  height: 300px;
  width: 100%;
  border:solid darkgray;
  
}
.seven{
  border:solid darkgray;
}
.eight{
  border:solid darkgray;
  height: 300px;
}
.anti{
  padding-left: 30%;
  margin-top: 0.3%;
  
}
.An{
  background-color:darkgray;
  height:40px;
  border: 2px solid;
  width: 100%;
 
}

.nine{
  margin-top: 1%;
 
}
.bg{
  overflow-x: hidden;
  overflow-y: hidden;
}
.ice img{
  height:250px;
  width:100%

}
.desert{
  
  margin-top: 2%;

}
body{
  overflow-x: hidden;
  overflow-y:hidden;
}
.product img{
  height:250px;
  width:100%

}
